<div class='repo'>
  <h3><a href='http://github.com/facebook/hiphop-php'>hiphop-php</a></h3>
  <span class='desc'>transforms PHP source code into highly optimized C++</span>
</div>
<div class='repo'>
  <h3><a href='http://github.com/simplestations/mediacore'>mediacore</a></h3>
  <span class='desc'>A video, audio and podcast publication platform written in Python</span>
</div>
<div class='repo'>
  <h3><a href='http://github.com/jashkenas/coffee-script'>coffee-script</a></h3>
  <span class='desc'>unfancy javascript</span>
</div>
<div class='repo'>
  <h3><a href='http://github.com/jquery/jquery'>jquery</a></h3>
  <span class='desc'>new wave javascript</span>
</div>
<div class='repo'>
  <h3><a href='http://github.com/ry/node'>node</a></h3>
  <span class='desc'>evented I/O for v8 javascript</span>
</div>
<div class='repo'>
  <h3><a href='http://github.com/mootools/mootools-core'>mootools-core</a></h3>
  <span class='desc'>MooTools Core Repository</span>
</div>
<div class='repo'>
  <h3><a href='http://github.com/mongodb/mongo'>mongo</a></h3>
  <span class='desc'>The Mongo Database</span>
</div>
<div class='repo'>
  <h3><a href='http://github.com/nddrylliog/ooc'>ooc</a></h3>
  <span class='desc'>ooc compiler written in java</span>
</div>
<div class='repo'>
  <h3><a href='http://github.com/subsonic/SubSonic-3.0'>SubSonic-3.0</a></h3>
  <span class='desc'>SubSonic 3.0 for the .NET 3.5 Framework</span>
</div>
<div class='repo'>
  <h3><a href='http://github.com/klacke/yaws'>yaws</a></h3>
  <span class='desc'>Yaws webserver</span>
</div>
<div class='repo'>
  <h3><a href='http://github.com/antirez/redis'>redis</a></h3>
  <span class='desc'>Redis key-value store</span>
</div>
<div class='repo'>
  <h3><a href='http://github.com/pokeb/asi-http-request'>asi-http-request</a></h3>
  <span class='desc'>Easy to use CFNetwork wrapper for HTTP requests, Objective-C,  Mac OS X and iPhone</span>
</div>
<div class='repo'>
  <h3><a href='http://github.com/pinax/pinax'>pinax</a></h3>
  <span class='desc'>a Django-based platform for rapidly developing websites</span>
</div>
<div class='repo'>
  <h3><a href='http://github.com/relevance/blue-ridge'>blue-ridge</a></h3>
  <span class='desc'>Framework for  JavaScript Testing (currently a Rails Plugin)</span>
</div>
<div class='repo'>
  <h3><a href='http://github.com/richhickey/clojure'>clojure</a></h3>
  <span class='desc'>The Clojure programming language</span>
</div>
<div class='repo'>
  <h3><a href='http://github.com/lloyd/yajl'>yajl</a></h3>
  <span class='desc'>Yet Another JSON Library - A Portable JSON parsing and serialization library in ANSI C</span>
</div>
<div class='repo'>
  <h3><a href='http://github.com/chriseppstein/compass'>compass</a></h3>
  <span class='desc'>Compass is a Stylesheet Authoring Environment that makes your website design simpler to implement and easier to maintain.</span>
</div>
